<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title>Users List</title>
</head>
<body>
<br/>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name"></span></b>
        &nbsp;
        <span sec:authentication="principal.authorities"></span>
    </div>
    <h2>Users List</h2>
    <br/>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td> <a href="#" th:href="@{/user/{id}(id=${user.id})}" th:text="${user.id}">...</a> </td>
            <td th:text="${user.username}">...</td>
            <td th:text="${user.lastName}">...</td>
            <td th:text="${user.age}">...</td>
            <td th:text="${user.email}">...</td>
            <td th:text="${user.roles}">...</td>
            <td>
                <form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.id})}">
                    <input type="submit" value="Edit"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.id})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>
    <br/><br/>
    <h3><a href="/admin/new">Add new user</a></h3>
    <br/><br/>
    <p>
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</div>
<p>
</body>
</html>