<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title>User</title>
</head>
<body>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name"></span></b>
        &nbsp;
        <span sec:authentication="principal.authorities"></span>
    </div>
<h2>User Profile</h2>
<br/>
<p th:text="${'ID:    ' + user.id}">...</p>
<p th:text="${'First name:  ' + user.firstName}">...</p>
<p th:text="${'Last name:  ' + user.lastName}">...</p>
<p th:text="${'Age:  ' + user.age}">...</p>
<p th:text="${'Email: ' + user.email}">...</p>
<p th:text="${'Roles: ' + user.roles}">...</p>
<br/><br/>
<p>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
<p>
</div>
</body>
</html>